<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>   
    <title></title>
    <script src="slideshow.js"></script>
    <style>
        body {
            margin: 0;
            background-color: darkslategray;
        }
        
        .slideshow {
            position: absolute;
            width: 100%;
            aspect-ratio: 16/9;
            background-color: rgb(23, 39, 39);
        }

        .slideshow img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        
        .title-bar {
            font: 14pt Arial;
            position: absolute;
            height: 1em;
            top: 5%;
            left: 50%; transform: translatex(-50%);
            color: white;
            transition: 0.3s;
        }

        .title-bar:hover {
            opacity: 0%;
        }

        .navigation-bar, .control-bar {
            fill: rgb(110, 233, 69);
            fill-opacity: 0;
        }
        
        .navigation-bar {
            position: absolute;
            height: 100%; width: 5%;
            transition: 0.3s;
        }
        
        .navigation-bar svg {            
            position: absolute;
            width: 100%;
            top: 50%; transform: translateY(-50%);
        }
        
        .navigation-bar:hover, .control-bar:hover{
            fill-opacity: 1;
        }
        
        .button-prev {
            top: 0; left: 0;
        }

        .button-next {
            top: 0; right: 0;
        }
        
        .control-bar {
            position: absolute;
            width: 100%; height: 5%; bottom: 1%;
            display: flex;
            justify-content: center;
            transition: 0.3s;
        }

        .control-bar svg, .navigation-bar svg {
            filter: drop-shadow(0 0 4px black);
        }

        .control-bar svg {
            height: 100%;
            aspect-ratio: 1/1;
        }
        .control-bar .button-control {
            margin-left: 2;
        }

        .image-selected {
            display: default;
        }

        .image-hidden {
            display: none;
        }

    </style>
    <script>
        window.onload = function() {
           sl = new Slideshow(document.getElementById('slideshow'));
        };
    </script>      
  </head>
  <body>
    <div style="display: none">
        <svg version="1.1" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg">
            <defs>
                <g id="svg-circle"><path d="M 64,8 A 56,56 0 0 0 8,64 56,56 0 0 0 64,120 56,56 0 0 0 120,64 56,56 0 0 0 64,8 Z m 0,8 A 48,48 0 0 1 112,64 48,48 0 0 1 64,112 48,48 0 0 1 16,64 48,48 0 0 1 64,16 Z"/></g>
                <g id="svg-bullet"><circle cx="64" cy="64" r="32"/></g>
                <g id="svg-prev"><path d="M 76,20 32,64 76,108 86,98 52,64 86,30 Z" /></g>
                <g id="svg-next"><path d="M 52,20 96,64 52,108 42,98 76,64 42,30 Z" /></g>
                <g id="svg-frame"><path d="m 8,24 v 80 H 120 V 24 Z m 8,8 h 96 V 96 H 16 Z" /></g>
                <g id="svg-start"><rect width="48" height="48" x="40" y="40" /></g>
                <g id="svg-pause"><path d="M 40 40 L 40 88 L 56 88 L 56 40 L 40 40 z M 72 40 L 72 88 L 88 88 L 88 40 L 72 40 z" /></g>
                <g id="svg-expand"><path d="m 80,40 -8,-8 h 24 v 24 l -8,-8 -40,40 8,8 H 32 V 72 l 8,8 z" /></g>
                <g id="svg-shrink"><path d="M 108,12 88,32 80,24 v 24 h 24 l -8,-8 20,-20 z m -84,68 8,8 -20,20 8,8 20,-20 8,8 V 80 Z" /></g>
            </defs>
        </svg>        
    </div>
    <div style="position: absolute; top: 0px; width: 100%;" id="container" class="slideshow" data-imagelist="
        ${METALIST}
    ">
        ${IMGLIST}
        <div class="title-bar"></div>
        <div class="navigation-bar button-prev">
            <svg viewbox="0 0 128 128" ><use href="#svg-prev"/></svg>
        </div>    
        <div class="navigation-bar button-next">
            <svg viewbox="0 0 128 128" ><use href="#svg-next"/></svg>
        </div>    
        <div class="control-bar">
            ${BULLETLIST}
            <svg class="button-control" viewbox="0 0 128 128"><use href="#svg-frame"/><use href="#svg-start"/></svg>
            <svg class="button-control" viewbox="0 0 128 128"><use href="#svg-expand"/></svg>
        </div>
    </div>
  </body>
</html>
