@import url(https://fonts.googleapis.com/css?family=Open+Sans);

:root {
  --bkghue: 216;
  --fgdhue: 204;
}

body {
  margin: 0;
  max-width: 800px;
  padding: 0;
  color: hsl(var(--fgdhue), 20%, 80%);
  background-color: hsl(var(--bkghue), 40%, 10%);
  font: 14pt "Verdana"; /* fallback */
  font: 14pt "Open Sans";
}

a:link {color: hsl(240, 100%, 80%);}
a:visited {color: hsl(240, 40%, 50%);}

header {
  height: 160px;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

footer {
  font-size: 10pt;
  padding: 1em;
  color: hsl(var(--fgdhue), 20%, 60%);
}

.contents {
  padding: 1em 5% 1em 5%;
  background-image: url("images/bkgshutter2.png");
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  xmargin: 0.3em 0px 0px 0px;
  line-height: 1.3em;
}

h1 {font-size: 24pt; border-top: 2px solid hsl(var(--fgdhue), 20%, 40%);}
h2 {font-size: 20pt;}
h3 {font-size: 16pt; font-weight: bold;}
h4 {font-size: 14pt; font-style: italic;}

p {
  margin: 1em 0 1em 0;
}

table {
  margin: 1em 0 1em 0;
}

td {
  padding: 0.2em 0.4em 0.2em 0;
}

.btn {position:relative; top: 4px;}

.chfot {margin-bottom: 2em; margin-top: 1.5em;}

.ct {display: flex; justify-content: space-around;}

.partab {border-collapse: collapse;}
.partab td {
  vertical-align: top;
  border-top: 1px solid hsl(var(--fgdhue), 20%, 60%);
  margin: 0 0 1em 0;
}

.cmd {
  margin: 1em;
  padding: 2px 4px 2px 4px;
  color: silver;
  background-color: black;
  font: 11pt Courier;
 }

.plh {
  font: italic bold 14pt "Courier New";
  color: hsl(20, 20%, 80%);
}
