@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

:root {
  --clr: 195;
}

body {
  color: hsl(var(--clr), 25%, 35%);
  background-color: hsl(var(--clr), 30%, 90%);
  background-image: url("../images/bkgshutter.png");
}

.title-box {
  background-color: hsla(var(--clr), 90%, 95%, 0.6); 
  border-color: hsl(var(--clr), 25%, 35%); 
  color: hsl(var(--clr), 25%, 35%); 
}

nav>ul>li a{
  background-color: hsl(var(--clr), 50%, 30%);
}

nav>ul>li a:link {
  color: hsl(var(--clr), 50%, 100%);
}      

nav>ul>li a:visited {
  color: hsl(var(--clr), 50%, 90%);
}

nav>ul>li a:hover {
  color: hsl(var(--clr), 50%, 90%);
}  

nav>ul>li a:active {
  color: hsl(var(--clr), 50%, 100%);
} 

h1 {clear: both; border-color: hsl(var(--clr), 25%, 35%);}
h2 {font-style: italic; clear: both; margin-top: 1em;}
h3 {clear: both;}

.imagelist {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.siBox {
  margin: 20px;
  box-shadow: 4px 4px 6px gray;
  padding: 6px 6px 0px 6px;
  background-color: hsl(60, 25%, 98%);
}

.siBox>img {margin: 0}

.siBox>div {
  display: block;
  margin: -1px 0px 4px 0px;
  font: 12pt "Roboto Condensed";
  color: hsl(var(--clr), 0%, 50%);
  text-align: center;
}

.radiobuttongroup {
  clear: both;
  display: inline-block;
}

.radiobuttongroup>label>div {
  font-size: 75%;
}

div>label {
  background-color: hsl(var(--clr), 50%, 20%);
  color: hsl(var(--clr), 50%, 90%);
  display: inline-block;
  width: 100px;
  text-align: center;
  padding: 8px;
  margin: -3px;
  border: 0px solid green;
  transition: 0.3s;
}

div>label:hover {
  background-color: hsl(var(--clr), 50%, 35%);
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  background-color: hsl(var(--clr), 50%, 55%);
  color: hsl(10, 50%, 95%);
}

.radiobuttongroup label:nth-child(2) {
  border-radius: 20px 0px 0px 20px;
}

.radiobuttongroup label:nth-last-child(1) {
  border-radius: 0px 20px 20px 0px;
}

footer {
  color: hsl(var(--clr), 50%, 70%);
  background-image: linear-gradient(hsl(var(--clr), 50%, 25%), hsl(var(--clr), 50%, 15%));
}