main {
  background-image: url("img/bkgshutter-dark.png");
}

.styled-table {
  border-collapse: collapse;
}

.styled-table th{
  padding-left: 1em;
  min-width: 100px;
  text-align: left;
}

.styled-table td {
  border: 2px solid var(--fontcolor2);
  background-color: var(--backcolor2);
  padding: 1em;
}

.new-tag {
  position: absolute;
  width: 100px;
  left: 310px;
  top: 0px;
}

.license-box {
  font-family: "Times New Roman";
  font-size: 11pt;
  color: hsl(190, 60%, 25%);
  background-color: #f8f8f8;
  border: 1px solid gray;
  padding: 0 5px 0 5px;
}
