@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+Mono );

:root {
  --bkghue: 216;
  --fgdhue: 204;
}

body {
  margin: 0;
  max-width: 1000px;
  padding: 0;
  color: hsl(var(--fgdhue), 20%, 80%);
  background-color: hsl(var(--bkghue), 40%, 10%);
  font: 14pt "Verdana"; /* fallback */
  font: 14pt "Open Sans";
}

a:link {color: hsl(240, 100%, 80%);}
a:visited {color: hsl(240, 40%, 50%);}

footer {
  font-size: 10pt;
  padding: 1em;
  color: hsl(var(--fgdhue), 20%, 60%);
}

.contents {
  padding: 1em 5% 1em 5%;
  background-image: url("img/bkgshutter2.png");
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  line-height: 1.3em;
}

h1 {font-size: 24pt; border-top: 2px solid hsl(var(--fgdhue), 20%, 40%);}
h2 {font-size: 20pt;}
h3 {font-size: 16pt; font-weight: bold;}
h4 {font-size: 14pt; font-style: italic;}

p {
  margin: 1em 0 1em 0;
}

.param {
  display: flex;
}

.param div:first-child {
  min-width: 100px;
  word-break: keep-all;
}

.option>div:first-child {
  padding: 0; font-size: 12pt; font-weight: 600;
  margin: 0.5em 0 0.25em 0;
  padding: 0.2em 0 0.2em 0.5em;
  background-color: hsl(var(--themeH), 30%, 20%);
  color: var(--fontcolor);
}

.option>div:nth-child(2) {
  display: flex;
  margin-left: 1em;
}

.option>div:nth-child(2)>div:first-child {
  min-width: 240px;
  font-style: italic;
}

.option p {
  padding: 0;
  margin: 0 0 0.5em 0;
}

.option>div:nth-child(2)>div:nth-child(2) u {
  color: rgb(150, 229, 229);
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
}

.btn {position:relative; top: 4px;}

.chfot {margin-bottom: 2em; margin-top: 1.5em;}

.ct {display: flex; justify-content: space-around;}

.cmd {
  margin: 1em;
  padding: 2px 4px 2px 4px;
  color: silver;
  background-color: black;
  font: 11pt "Noto Sans Mono";
 }

 .dos {
  margin: 0;
  padding: 2px 4px 2px 4px;
  color: rgb(144, 223, 144);
  background-color:rgb(8, 20, 8);
  font: 8pt "Noto Sans Mono";
 }

.plh {
  font: bold 14pt "Noto Sans Mono";
  color: hsl(20, 20%, 80%);
}

