@import url(https://fonts.googleapis.com/css?family=Open+Sans);

:root {
  --bkghue: 216;
  --fgdhue: 204;
  --title-color: hsl(39, 70%, 50%);
}

body {
  margin: 0;
  max-width: 800px;
  padding: 0;
  color: hsl(var(--fgdhue), 20%, 80%);
  background-color: hsl(var(--bkghue), 40%, 10%);
  font: 14pt "Verdana"; /* fallback */
  font: 14pt "Open Sans";
}

a:link {color: hsl(240, 100%, 80%);}
a:visited {color: hsl(240, 40%, 50%);}

header {
  height: 160px;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

footer {
  font-size: 10pt;
  padding: 1em;
  color: hsl(var(--fgdhue), 20%, 60%);
}

.contents {
  padding: 1em 5% 1em 5%;
  background-image: url("img/bkgshutter2.png");
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  line-height: 1.3em;
}

h1 {font-size: 24pt; border-top: 2px solid hsl(var(--fgdhue), 20%, 40%);}
h2 {font-size: 20pt; font-style: italic;}
h3 {font-size: 16pt;}
h4 {font-size: 14pt; font-weight: bold; font-style: italic;}

img:not(.btn) {margin-top: 0.5em;}

.icon-left {
  float: left; margin-right: 1em;  
}

.icon-right {
  float: right; margin-left: 1em;  
}

.title-box {
  font-family: "Arial";
  position: absolute;
  left: 40px;
  top: 20px;
  width: 300px;
  height: 112px;
  border: 4px solid var(--title-color); 
  border-radius: 10px;
  color: var(--title-color); 
  background-color: hsla(270, 50%, 90%, 0.4); 
  text-align: center;
  box-shadow: 4px 3px 4px #555555 inset;
}

.title-box :nth-child(1) {
  position: absolute;
  width: 100%;
  top: 8px;
  font-size: 40pt;
  font-weight: bolder;
  text-shadow: 3px 2px 2px #444444;
}

.title-box :nth-child(2) {
  position: absolute;
  width: 100%;
  top: 70px;
  font-size: 14pt;
  text-shadow: 2px 2px 2px #444444;
}

p {
  margin: 1em 0 1em 0;
}

table {
  margin: 1em 0 1em 0;
}

td {
  padding: 0.2em 0.4em 0.2em 0;
}

.flag {width: 40px;}

.btn {
  position:relative;
  padding: 2px 4px 2px 4px;
  top: 4px;
  background-color: #d4d8e4;
  border-top: solid 1.75px white;
  border-left: solid 1.75px white;
  border-right: solid 1.75px #444;
  border-bottom: solid 1.75px #444;
  border-radius: 3px;
}

.chfot {margin-bottom: 2em; margin-top: 1.5em;}

.ct {display: flex; justify-content: space-around;}

.partab {border-collapse: collapse;}
.partab td {
  vertical-align: top;
  border-top: 1px solid hsl(var(--fgdhue), 20%, 60%);
  margin: 0 0 1em 0;
}

.simple-table {border-collapse: collapse;}
.simple-table td{
  padding: 0.5em;
}
.simple-table td, .simple-table th {
  border: 2px solid  hsl(var(--fgdhue), 50%, 40%);
}

.cmd {
  margin: 1em;
  padding: 2px 4px 2px 4px;
  color: silver;
  background-color: black;
  font: 11pt Courier;
 }

.plh {
  font: italic 14pt "Courier New";
  color: rgb(162, 188, 238);
}

.hint-box {
  background-color: hsl(240, 50%, 90%);
  color:hsl(240, 40%, 20%);
  padding: 0.2em;
  border-left: 2mm solid hsl(240, 40%, 50%);
}

.code {
  background-color: rgb(45, 82, 142);
  color:rgb(245, 244, 178);
  padding: 0.5em;
  font: 12pt "Courier New";
}

