body {
    background-color: «BCKCOLOR»;
    margin: «GAP»px;
    line-height: 0;
}

#gallery {    
}

#display {
    width: 100%;
    aspect-ratio: «RATIO»;
    object-fit: contain;
}

#picklist {
    overflow: auto;
    display: flex;
}

#picklist img  {
    flex-basis: «THMBNSIZE»px;
    flex-grow: 0;
    flex-shrink: 0;
    padding: «GAP»px «GAP»px 0 0;
    aspect-ratio: «RATIO»;
    object-fit: contain;
}
