body {
    background-color: {BCKCOLOR1};
    margin: {GAP}px;
    line-height: 0;
}

#gallery {
    aspect-ratio: 16/12;
}

#gallery .display {
    width: 100%;
    aspect-ratio: {RATIO};
    object-fit: contain;
    background-color: {BCKCOLOR2};
}

#gallery .picklist {
    overflow: auto;
    display: flex;
    gap: {GAP}px;
}

#gallery .picklist img  {
    padding: {GAP}px;
    background-color: {BCKCOLOR2};
    aspect-ratio: {RATIO};
    width: {THMBNSIZE}px;
    object-fit: contain;
}
