@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
body {
  font: 11pt "Roboto Condensed";
  margin: 0;
  background-color: $(BACKGROUNDCOLOR);
  color: $(FONTCOLOR);
}

header, footer {
  font-size: 18pt;
  padding: 1pc;
  color: $(BACKGROUNDCOLOR);
  background-color:$(HEADERCOLOR);
}

header {
  font-size: 18pt;
}

footer {
  font-size: 12pt;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.images>div {
  margin: 1pc;
  width: max-content;
  display: flex;
  background-color: $(CARDCOLOR);
  color: $(TABLEFONTCOLOR);
  padding: 1pc;
}

.images>div>div {
  width: 200px;
  display: grid;
  justify-items: start;
  grid-template-columns: auto auto;      
  grid-template-rows: repeat(6, 2em);      
  align-items: center;
  background-color: $(TABLECOLOR);
  margin-left: 1em;
  padding: 1em;
}
